<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-brand">
          <i class="fas fa-money-bill-wave me-2"></i>
          <h3>SplitWise</h3>
        </div>
        <p class="footer-tagline">The easiest way to split expenses with friends and family</p>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Links</h5>
        <ul class="footer-links">
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/expenses">Expenses</a></li>
          <li><a routerLink="/groups">Groups</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Contact</h5>
        <ul class="footer-contact">
          <li><i class="fas fa-envelope me-2"></i> support@splitwise.com</li>
          <li><i class="fas fa-phone me-2"></i> (123) 456-7890</li>
          <li class="social-links">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} SplitWise. All rights reserved.</p>
    </div>
  </div>
</footer>
